@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

a {
  text-decoration: none;
  color: currentColor;
}

html::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: grid;
  height: 97.8vh;
  align-items: stretch;
  grid-template-columns: minmax(0, 1fr) 1fr;
  min-height: 0;
  min-width: 0;
}

#header {
  font-family: "Sarabun", sans-serif;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.2em;
}

#song-list {
  font-family: "Sarabun", sans-serif;
  max-height: 900px;
  overflow: scroll;
  grid-row: span 2 / span 2;
  scroll-behavior: smooth;
}

#song-list ol {
  list-style-position: inside;
}

#song-list li {
  margin: 1em;
  line-height: 1.6;
  border-bottom: 1px solid rgb(143, 143, 143);
  border-top: 1px solid rgb(143, 143, 143);
  padding: 15px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5em;
}

#song-list li:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

#song-list li:active {
  transform: scale(0.97);
}

#song-list::-webkit-scrollbar {
  width: 7px;
}

#song-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

#song-list::-webkit-scrollbar-thumb {
  background: rgb(146, 146, 146);
  border-radius: 10px;
}

#song-list::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

#playframe {
  margin: auto auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px #535353;
}

#support {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 3px;
  display: inline-block;
}

#lyrics,
#author {
  color: #b3b3b3;
  font-size: 2.3em;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

#functions {
  font-family: "Sarabun", sans-serif;
  display: grid;
  place-items: center;
}

#func-container { 
	user-select: none;
	border: 5px solid #ccc;
	padding: 6px;
	margin: 10px;
	border-radius: 30px;
}

#now-play { 
	font-size: 2em;
	cursor: pointer;
}

#findsong {
	max-width: 100px;
	border-radius: 30px;
	border: 2px solid #aaa;
	padding: 10px;
}

#control-btn {
	color: #b3b3b3;
	font-size: 2.3em;
	margin-left: 1em;
	margin-right: 1em;  
}

#control-btn:active { 
	color: #000;
}

@media (max-width: 1124px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  #song-list li {
    padding: 25px;
  }
}
